body{
    background-color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}
    header{
        display: inline-block;
        width:1000px;
        margin-top: 30px;
        margin-left: calc( 50% - 500px);

    }
        header > img{
        display: inline-block;
        float: left;
        }
        nav{
            display: inline-block;
            float: right;

        }
            a{
                display: inline-block;
                color: #bbbbbb;
                font-size: 15px;
                text-decoration: none;
                margin-left: 20px;

            }
            a:last-of-type{
                display: inline-block;
                color: #bbbbbb;
                font-size: 15px;
                margin-left: 20px;
                border: 2px solid #bbbbbb;
                padding: 5px 20px;
                border-radius: 25px;
                line-height: 20px;
            }
    main{
        width: 1000px;
        margin-left: calc( 50% - 500px);
        display: inline-block;
        
    }
        div{
            display: inline-block;
            width: 40%;
            float: left;
            margin-top: 30px;
            margin-left: 70px;
            color: #9e9e9e;
        }
            h1{
                display: inline-block;
                font-size: 70px;
                margin-bottom: 1px;
            }
            p{
                display: inline-block;
                font-size: 35px;  
                margin-top: 1px;          }
        main > img{
            display: inline-block;
            width: 50%;
            float: right;

        }

/* cmd + / komentavimas */
